.backbtn{
    margin-left: 15px;
}

.notification{
    margin-right: 15px;
}

ion-header{

    ion-toolbar{
        
        ion-title{
            text-align: center;
            margin-right: 15px;
        }

        .backbtn{
            margin-left: 5px;
            font-size: 1.4rem;
        }
    }

}

ion-content{
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 26px;
    --padding-end: 26px
}


.profile-info{
    padding-top:20px;

    ion-item{
        --padding-start: 0;
        --border-color: #97979713;

        ion-label{
            color: #919191;
            font-size: large;
        }

        ion-input{
            --color:#434343;
        }
    }
}

.btn-lower{
    height: 45px;
    margin-top: 15px;
    // margin-left: 18px;
    // margin-right: 22px;

    ion-button{
        height: 100%;
        width: 100%;
    }
}