<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/tabs/home" routerDirection="back">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-content">
    <img src="../../../assets/images/profile/1-p.jpg" alt="">
    <div>
      <ion-label>
        <h1>Mancliff Mahlare</h1>
      </ion-label>
      <ion-label>
        <h3>m.cliff@dot.com</h3>
      </ion-label>
    </div>
  </div>
  <div class="btn-cover">
    <div class="btn-edit" routerLink="/editprofile">
      <div>
        <label>Edit Profile</label>
      </div>
    </div>
  </div>
</ion-content>

