<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/admin/dashboard" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <hr>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding color="secondary">
          
          <h2></h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="secondary">
          
          <h2></h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
