<ion-tabs #TabId (ionTabsDidChange)="_ionTabsDidChange($event)" ionTabsWillChange=_ionTabsWillChange($event)>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <!-- <ion-label>search</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <!-- <ion-label>profile</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

