<<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button menu="main-menu">
          
        </ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="light"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner" >
    <div class="background-banner"></div>
    <div class="caption ion-padding">
      Limitless <br>
      Solutions
    </div>
  </div>

  <div class="calls">
    <h1>Calls</h1>
  </div>
  <div class="card-content">
    <ion-card>
      <p>Charles, Morwa,34 Punk str</p>
      <ion-button color="danger" routerLink="/tech-calls">view</ion-button>
    </ion-card>

    <ion-card>
      <p>Charles, Morwa,34 Punk str</p>
      <ion-button color="danger" routerLink="/tech-calls">view</ion-button>
    </ion-card>

    <ion-card>
      <p>Charles, Morwa,34 Punk str</p>
      <ion-button color="danger" routerLink="/tech-calls">view</ion-button>
    </ion-card>

    <ion-card>
      <p>Charles, Morwa,34 Punk str</p>
      <ion-button color="danger" routerLink="/tech-calls">view</ion-button>
    </ion-card>
    <ion-card>
      <p>Charles, Morwa,34 Punk str</p>
      <ion-button color="danger" routerLink="/tech-calls">view</ion-button>
    </ion-card>

    <ion-card>
      <p>Charles, Morwa,34 Punk str</p>
      <ion-button color="danger" routerLink="/tech-calls">view</ion-button>
    </ion-card>
  </div>
</ion-content>
