ion-header{
    position: absolute;
    
    ion-toolbar{
      padding-left: 14px;
      padding-right: 14px;
  
      ion-title{
        --color:white;
        font-size: 18px;
        text-align: center;
      }
    }
  
  
}

  ion-menu-button{

    font-size: 1.4rem;
  }
  
ion-content{
    background-color: #a7a2a2;
    .banner{
        margin-top: 35px;
        position: relative;
        height: 120px;
        width: 100%;

        .background-banner{
        width: 100%;
        height: 100%;
        background-color: #428cff;
        border-radius: 0px 0px 0px 0px;
        }

        .caption{
            position: relative;
            width: 100%;
            bottom: 85px;
            font-size: 24px;
            font-weight: bold;
            font-family: cursive;
            color: white;
            padding-left: 26px;
            padding-right: 26px;
            }
    }

    .calls{
        color: #616264;
        align-items: center;
        margin-left: 25px;
        h1{
          font-weight: bold;
          font-family: cursive;
          font-size: 20px;
        }
        
    }

    .card-content{
        margin-left: 15px;
        margin-right: 15px;
        ion-card{

            height: 60px;
            display: flex;
            margin-right: 15px;
            margin-right: 15px;

            ion-button{
                font-size: 0.7rem;
                margin-top: 10px;
                width: 55px;
            }
            
            p{
                font-size: 0.9rem;
                margin-top: 20px;
                margin-left: 15px;
                margin-right: 45px;
            }
        }
    }
}