<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card class="users" text-center padding color="secondary" routerLink="/users">
          <ion-icon name="person"></ion-icon>
          <h2>Users</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="calls" text-center padding color="secondary">
          <ion-icon name="call"></ion-icon>
          <h2>Calls</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card class="archive" text-center padding color="secondary">
          <ion-icon name="archive"></ion-icon>
          <h2>Archive</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="users" text-center padding color="secondary">
          <ion-icon name="person"></ion-icon>
          <h2>Technicians</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
